<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Router_01</title>
</head>
<body>
    <h2>Router_01</h2>
    <hr>

    <table border="5"  width = "300" height = "80">
        <caption><h4>Information</h4></caption>

        <thead>
            <th>Model</th>
            <th>Position</th>
            <th>Network</th>
        </thead>
        <tbody>
            <tr>
                <td>TP-LINK</td>
                <td>dining_hall</td>
                <td>wifi_01</td>
            </tr>
        </tbody>
    </table>
    
    <br><hr>

    <h3>Test for Vulnerabilities</h3>
    Please choose some items to continue... <br>
    <form action="" method="post">
        <input type="checkbox" name="t1" value="R_XSS"> Cross-Site Scripting (Reflected)    <br>
        <input type="checkbox" name="t1" value="S_XSS"> Cross-Site Scripting (Stored)   <br>
        <input type="checkbox" name="t1" value="SSTI"> Server Side Template Injection  <br>
        <!-- <input type="checkbox" name="t1"> All <br> -->
        <button type="submit" name="t1">TEST</button>
    </form>


</body>
</html>